.container {
    align-content: center;
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-radius: var(--border-radius);
    display: flex;
    left: 2rem;
    padding: 1rem;
    position: fixed;
    bottom: 2rem;
    height: 70px;
    width: 200px;
}

.status {
    font-size: 80%;
}

.status p{
    display: inline-block;
}

.response {
    font-size: 75%;
    margin-top: 0.25rem;
    opacity: 0.5;
    position: relative;
}

.greenDot,
.redDot {
    background-color: red;
    border-radius: 3px;
    height: 6px;
    width: 6px;
    margin-left: 6px;
    display: inline-block;
}

.greenDot {
    background-color: green;
}

.responseStatus {
    display: inline-block;
}