.refillBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refillContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: var(--background-color);
    box-shadow: rgb(25, 118, 210) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.refillContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.refillContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.refillContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refillContainer .button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
}


